@model List<Model.EntityFramework.Menu>

<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
        <li><a href="@item.Link" target="_self">@item.Text</a></li>
        }
    </ul>
</div>